.service-intro {
  box-sizing: border-box;
  margin: 0 80px 30px 80px;
  height: min-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: min-content;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.service-intro h2 {
  z-index: inherit;
  color: #fff;
  font-size: 2.5rem;
  margin: 10px 0px 5px 0px;

}

.service-intro p {
  z-index: inherit;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0px 0px 20px 0px;
}

.services-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  .service-intro {
    margin: 0 20px 20px 20px;
  }

  .service-intro h2 {
    font-size: 1.7rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .service-intro p {
    font-size: 1.1rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .services-container {
    margin-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .service-intro {
    margin: 115px 10px 15px 10px;
  }

  .service-intro h2 {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5rem;
  }

  .service-intro p {
    font-size: 0.8rem;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0px 0px 15px 0px;
  }

  .services-container {
    margin-top: -50px;
  }
}