.service-intro {
  box-sizing: border-box;
  margin: 0 80px 30px 80px;
  height: min-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: min-content;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.service-intro h2 {
  z-index: inherit;
  color: #fff;
  font-size: 2.5rem;
  margin: 20px 0;

}

.service-intro p {
  z-index: inherit;
  text-align: center;
  padding-left:10%;
  padding-right:10%;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0px 0px 20px 0px;
}
.services-container{
  margin-top: 100px;
}